.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
}

button.active {
  font-weight: bold;
  text-decoration: underline;
}

.stage-label {
  font-size: 12px;
  display: block;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-string {
  font-size: 40px;
  margin-bottom: 10px;
}

.start-button {
  background-color: white;
  color:  rgb(186, 73, 73);
  border: 1px solid rgb(186, 73, 73);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para quando o botão estiver sendo pressionado (hover) */
.start-button:hover {
  background-color: rgb(186, 73, 73);
  color: white;
  border: 1px solid rgb(186, 73, 73);
}


.settings-button-wrapper {
  margin-bottom: 10px; /* Ajuste o espaçamento entre o botão e outros elementos */
}

.settings-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.settings-content {
  background-color: rgb(186, 73, 73);
  color: white; /* Define a cor das fontes como branco */
  padding: 10px; /* Adiciona um espaçamento interno para o conteúdo */
  border-radius: 10px;
}

.red-icon i.fa-cog {
  color: rgb(186, 73, 73);
}
