<div class="pomodoro-timer">
  <div class="settings-button-wrapper mt-4">
    <ng-container *ngIf="successMessage; else configButtonTemplate">
      <div class="alert alert-success">Configurações salvas com sucesso!</div>
    </ng-container>
    <ng-template #configButtonTemplate>
      <!-- Exibe o botão de configurações somente se successMessage for falso -->
      <button class="settings-button" (click)="toggleConfigurations()" [class.red-icon]="isConfigurationsOpen">
        <i class="fa fa-cog"></i>
      </button>
    </ng-template>
  </div>
  <div class="settings-content" [hidden]="!isConfigurationsOpen">
    <app-settings (configSaved)="onConfigSaved($event)"></app-settings>
  </div>
  <div class="stage-buttons mt-4">
    <button [class.active]="currentStage === 'Pomodoro'" (click)="switchStage('Pomodoro', 1500, 0)">Pomodoro</button>
    <button [class.active]="currentStage === 'Short Break'" (click)="switchStage('Short Break', 300, 1)">Short Break</button>
    <button [class.active]="currentStage === 'Long Break'" (click)="switchStage('Long Break', 900, 0)">Long Break</button>
  </div>

  <div class="timer-display mt-4">
    <div id="timer-string">{{ formatTime(timer) }}</div>
    <button *ngIf="!timerRunning" class="start-button mt-4" (click)="startTimer()">START</button>
    <button *ngIf="timerRunning" class="start-button mt-4" (click)="pauseTimer()">PAUSE</button>
  </div>
</div>
