.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
}

button.active {
  font-weight: bold;
  text-decoration: underline;
}

.stage-label {
  font-size: 12px;
  display: block;
}

.timer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-string {
  font-size: 40px;
  margin-bottom: 10px;
}

.start-button {
  background-color: rgb(186, 73, 73);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button {
  margin-top: 10px;
}

.next-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.next-button img {
  width: 24px;
}

.settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
